<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | freeCodeCamp</title>
    <link
      rel="shortcut icon"
      href="https://visualpharm.com/assets/994/Exercise-595b40b65ba036ed117d4041.svg"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>Exercise tracker</h1>
      <form action="/api/users" method="post">
        <div>
          <img
            style="float: left"
            src="https://img.freepik.com/premium-vector/light-bulb-lamp-icon-with-question-mark-inside-hint-symbol-problem-solution-icon-comic-style_501069-300.jpg?w=2000"
            alt="hint"
            height="28"
            width="28"
            title="POST /api/users"
          />
          <h3>Create a New User</h3>
        </div>

        <div class="inputbox">
          <input
            id="uname"
            type="text"
            name="username"
            placeholder="username"
          />
        </div>
        <div class="inputbox">
          <input type="submit" value="Submit" />
        </div>
      </form>
      <form id="exercise-form" method="post">
        <div>
          <img
            style="float: left"
            src="https://img.freepik.com/premium-vector/light-bulb-lamp-icon-with-question-mark-inside-hint-symbol-problem-solution-icon-comic-style_501069-300.jpg?w=2000"
            alt="hint"
            height="28"
            width="28"
            title="POST /api/users/:_id/exercises"
          />
          <h3>Add exercises</h3>
        </div>

        <div class="inputbox">
          <input id="uid" type="text" name=":_id" placeholder=":_id" />
        </div>
        <div class="inputbox">
          <input
            id="desc"
            type="text"
            name="description"
            placeholder="description*"
          />
        </div>
        <div class="inputbox">
          <input
            id="dur"
            type="text"
            name="duration"
            placeholder="duration* (mins.)"
          />
        </div>
        <div class="inputbox">
          <input
            id="date"
            type="text"
            name="date"
            placeholder="date (yyyy-mm-dd)"
          />
        </div>
        <div class="inputbox">
          <input type="submit" value="Submit" />
        </div>
      </form>
      <p>
        <strong>GET user's exercise log: </strong>
        <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
      </p>
      <p><strong>[ ]</strong> = optional</p>
      <p>
        <strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> =
        number
      </p>
      <div class="copyright">By <a href="https://github.com/SouravM9">Sourav Mazumdar</a></div>
    </div>
  </div>
    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;

        exerciseForm.submit();
      });
    </script>
  </body>
</html>
